* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 700px;
  overflow: hidden;
  overflow-x: overlay;
}

body::-webkit-scrollbar,
body > div::-webkit-scrollbar {
  display: none;
}

body > div {
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  border-right: 1px solid #ddd;
}

table {
  white-space: nowrap;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

input {
  font: inherit;
  background: #ffe;
  /* background: #17f2; */
}

input:hover {
}

th {
  text-align: left;
}

td,
th {
  border: 1px solid #ddd;
  background: #fff;
  width: 100%;
}

tr > *:first-child {
  width: 20px;
  text-align: center;
  color: #999;
  background: #eee;
}

.draghandle {
  cursor: grab;
}

tr > *:nth-child(2) {
  width: 150%;
}

.cell {
  padding: 3px;
}

@keyframes blinker {
  0% {
    background-color: yellow;
  }
}

input.changed {
  animation: blinker 1s ease-in-out;
}

tr.changed .cell {
  animation: blinker 1s ease-in-out;
}

tr.dragging .cell {
  background: #e1ecff;
}

tr.dropping .cell {
  background: #ddffe7;
}

input {
  width: 100%;
  outline: none;
  border: none;
}

/* td.focused {
  border-color: blue;
  border-style: double;
} */

.cell:focus:not(:read-only) {
  background: #17f3;
}

#welcome {
  margin: 1rem;
  font-size: 120%;
  color: #555;
  text-shadow: 0px -1px 1px #fff;
}

#highlighter {
  position: absolute;
  pointer-events: none;
  background: transparent;
  border: 1px solid blue;
}

#highlighter.animate {
  transition: left 150ms ease-out, width 150ms ease-out, height 150ms ease-out, top 150ms ease-out;
}
