* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 12px;
}

html,
body {
  height: 100%;
}

body {
  width: 700px;
  overflow: auto;
}

body > div {
  overflow: hidden;
  background: #fff;
}

body > div:nth-child(1) {
  background: #f0f0f0;
  position: sticky;
  top: 0;
}

body > div:nth-child(3) {
  background: #f0f0f0;
  position: sticky;
  bottom: 0;
}

body > div:nth-child(1) tr:last-child th {
  border-bottom: none;
}

body > div:nth-child(2) tr:first-child td {
  border-top: none;
}

body > div:nth-child(2) tr:last-child td {
  border-bottom: none;
}

body > div:nth-child(1) {
  border-bottom: 1px solid #aaa;
}

body > div:nth-child(3) {
  border-top: 1px solid #aaa;
}

body > div:nth-child(3) tr:first-child th,
body > div:nth-child(3) tr:first-child td {
  border-top: none;
}

table {
  white-space: nowrap;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

input {
  font: inherit;
}

.calculated.cell {
  background: #ffe;
}

th {
  text-align: left;
}

td,
th {
  border: 1px solid #ddd;
  background: #fff;
  width: 100%;
}

tr > *:first-child {
  width: 20px;
  text-align: center;
  color: #999;
  background: #eee;
}

.draghandle {
  cursor: grab;
}

tr > *:nth-child(2) {
  width: 150%;
}

.cell {
  padding: 3px;
}

@keyframes blinker {
  0% {
    background-color: yellow;
  }
}

input.changed {
  animation: blinker 1s ease-in-out;
}

tr.changed .cell {
  animation: blinker 1s ease-in-out;
}

tr.dragging .cell {
  background: #e1ecff;
}

tr.dropping .cell {
  background: #ddffe7;
}

input {
  width: 100%;
  outline: none;
  border: none;
}

td.focused {
  border-color: blue;
  border-style: double;
}

.cell:focus:not(:read-only) {
  background: #17f3;
}

#welcome {
  padding: 1rem;
  height: 100%;
  font-size: 120%;
  font-style: italic;
  background: #f0f0f0;

  justify-content: start;
  align-content: start;
  gap: 1em;
}

#welcome:not([hidden]) {
  display: grid;
}

#toast {
  position: fixed;
  background: #333;
  color: #fff;
  padding: 1em 2em;
  border-radius: 4px;
  left: 1em;
  bottom: -4em;
  cursor: pointer;
  transition: bottom 150ms ease-out;
}

#toast.visible {
  bottom: 1em;
}
